{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="banner-img">
    <div class="row">
        <div class="col-7 col-md-6 my-auto">
            <h2 class="">
                MOTTO
                <p>Text related to Motto</p>
            </h2>
            <div class="my-5">
                <h4>
                    <a href="" class="btn-shop-now btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3>Categories</h3>
    <div class="row mx-auto">
        <div class="col">Category1</div>
        <div class="col">Category2</div>
        <div class="col">Category3</div>
    </div>
    <div class="row mx-auto">
        <div class="col">Category</div>
        <div class="col">Category</div>
        <div class="col">Category</div>
    </div>
</div>
<div class="container">
    <h3>New In!</h3>
    <div class="row mx-auto">
        <div class="col">New In1</div>
        <div class="col">New In2</div>
        <div class="col">New In3</div>
        <div class="col">New In4</div>
    </div>
</div>
<div class="banner-img1"></div>
<div class="container">
    <h3>Latest Blog Posts</h3>
    <div class="row mx-auto">
        <div class="col">1</div>
        <div class="col">2</div>
        <div class="col">3</div>
        <a href=""></a>
    </div>
</div>
<button>Back To Top</button>
{% endblock %}
