{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid img-container">
    <div class="row no-gutters">
        <div class="col-12">
            <img src="{{MEDIA_URL}}homepage_img.jpg" class="banner-img" alt="Tent in the mountains.">
            <div class="motto-text white-text">
                <h4 id="motto-header" class="text-uppercase">Camping gear for conscious explorer</h4>
                <p id="motto-par" class="font-weight-light">Unique and environmentally friendly products for camping</p>
            </div>
            <div class="shop-now-position ">
                <h4>
                    <a href="{% url 'products' %}" class="white-text btn-shop-now btn btn-lg rounded-0 text-uppercase py-3" id="shop-now-btn-id">Shop Now</a>
                </h4>

            </div>
        </div>
    </div>
</div>
{% include "home/about.html" %}
<div class="container">
    
    <h3>Categories</h3>
    <div class="row mx-auto">
        <div class="col">Category1</div>
        <div class="col">Category2</div>
        <div class="col">Category3</div>
    </div>
    <div class="row mx-auto">
        <div class="col">Category</div>
        <div class="col">Category</div>
        <div class="col">Category</div>
    </div>
</div>
<div class="container">
    <h3>New In!</h3>
    <div class="row mx-auto">
        <div class="col">New In1</div>
        <div class="col">New In2</div>
        <div class="col">New In3</div>
        <div class="col">New In4</div>
    </div>
</div>
<div class="banner-img1"></div>
<div class="container">
    <h3>Latest Blog Posts</h3>
    <div class="row mx-auto">
        <div class="col">1</div>
        <div class="col">2</div>
        <div class="col">3</div>
        <a href=""></a>
    </div>
</div>
{% endblock %}
