{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container checkout-container">
    <div class="row text-center">
        <div class="col-12 mt-4 text-center">
            <h2 class="text-uppercase"> Company Policies </h2>
            <hr class="hr-style-main w-50 mb-1">
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="row no-gutters py-4 text-dark">
            <div class="col-12 col-lg-3 text-center mb-3">
                <h3 class="heading-color">Privacy Policy</h3>
            </div>
            <div class="col-12 col-lg-8 px-4">
                <p>
                    This Privacy Policy describes how your personal information is collected, used, and shared when
                    you visit or make a purchase from warmchefshop.myshopify.com (the “Site”). <br>
                    <p>
                        <a class="btn btn-style rounded-0" data-toggle="collapse" href="#privacypolicy" role="button"
                            aria-expanded="false" aria-controls="privacypolicy">
                            Read More
                        </a>
                    </p>
                    <div class="collapse" id="privacypolicy">
                        <div class="card card-body">
                            <p>
                                Personal information we collect
                                When you visit the Site, we automatically collect certain information about your device,
                                including information about your web browser, IP address, time zone, and some of the
                                cookies
                                that are installed on your device. Additionally, as you browse the Site, we collect
                                information
                                about the individual web pages or products that you view, what websites or search terms
                                referred
                                you to the Site, and information about how you interact with the Site. We refer to this
                                automatically-collected information as “Device Information”.<br><br>

                                We collect Device Information using the following technologies:
                                - “Log files” track actions occurring on the Site, and collect data including your IP
                                address,
                                browser type, Internet service provider, referring/exit pages, and date/time stamps.
                                - “Web beacons”, “tags”, and “pixels” are electronic files used to record information
                                about how
                                you browse the Site.

                                <br><br>
                                Additionally when you make a purchase or attempt to make a purchase through the Site, we
                                collect
                                certain information from you, including your name, billing address, shipping address,
                                payment
                                information (including credit card numbers [[INSERT ANY OTHER PAYMENT TYPES ACCEPTED]]),
                                email
                                address, and phone number. We refer to this information as “Order Information”.<br><br>

                                When we talk about “Personal Information” in this Privacy Policy, we are talking both
                                about
                                Device Information and Order Information.<br><br>

                                How do we use your personal information?
                                We use the Order Information that we collect generally to fulfill any orders placed
                                through the
                                Site (including processing your payment information, arranging for shipping, and
                                providing you
                                with invoices and/or order confirmations). Additionally, we use this Order Information
                                to:
                                - Communicate with you;
                                - Screen our orders for potential risk or fraud; and
                                - When in line with the preferences you have shared with us, provide you with
                                information or
                                advertising relating to our products or services.<br><br>

                                We use the Device Information that we collect to help us screen for potential risk and
                                fraud (in
                                particular, your IP address), and more generally to improve and optimize our Site (for
                                example,
                                by generating analytics about how our customers browse and interact with the Site, and
                                to assess
                                the success of our marketing and advertising campaigns).<br><br>

                                Sharing you personal Information
                                We share your Personal Information with third parties to help us use your Personal
                                Information,
                                as described above. For example, we use Shopify to power our online store--you can read
                                more
                                about how Shopify uses your Personal Information here:
                                https://www.shopify.com/legal/privacy. We
                                also use Google Analytics to help us understand how our customers use the Site -- you
                                can read
                                more about how Google uses your Personal Information here:
                                https://www.google.com/intl/en/policies/privacy/. You can also opt-out of Google
                                Analytics here:
                                https://tools.google.com/dlpage/gaoptout.<br><br>

                                Finally, we may also share your Personal Information to comply with applicable laws and
                                regulations, to respond to a subpoena, search warrant or other lawful request for
                                information we
                                receive, or to otherwise protect our rights.
                            </p>
                        </div>
                    </div>


            </div>
        </div>
        <div class="row no-gutters py-4 text-dark">
            <div class="col-12 col-lg-3 text-center mb-3">
                <h3 class="heading-color">Refund Policy</h3>
            </div>
            <div class="col-12 col-lg-8 px-4">
                <p>
                    Returns
                    Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t
                    offer you a refund or exchange. <br><br>

                    To be eligible for a return, your item must be unused and in the same condition that you
                    received it. It must also be in the original packaging.
                    <br><br></p>

                <a class="btn btn-style rounded-0" data-toggle="collapse" href="#refundpolicy" role="button"
                    aria-expanded="false" aria-controls="refundpolicy">
                    Read More
                </a>

                <div class="collapse" id="refundpolicy">
                    <div class="card card-body">
                        <p>
                            Several types of goods are exempt from being returned. Perishable goods such as
                            food, flowers,
                            newspapers or magazines cannot be returned. We also do not accept products that are
                            custom,
                            hazardous materials, or flammable liquids or gases.
                            <br><br>

                            Additional non-returnable items:
                            - Downloadable software products
                            - Some health and personal care items
                            <br><br>

                            To complete your return, we require a receipt or proof of purchase. </p>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters py-4 text-dark">
            <div class="col-12 col-lg-3 text-center mb-3">
                <h3 class="heading-color">Terms of Service</h3>
            </div>
            <div class="col-12 col-lg-8 px-4">
                <p>
                    SECTION 1 - ONLINE STORE TERMS
                    By agreeing to these Terms of Service, you represent that you are at least the age of majority
                    in your state or province of residence, or that you are the age of majority in your state or
                    province of residence and you have given us your consent to allow any of your minor dependents
                    to use this site. <br></p>
                <a class="btn btn-style rounded-0" data-toggle="collapse" href="#serviceterms" role="button"
                    aria-expanded="false" aria-controls="serviceterms">
                    Read More
                </a>

                <div class="collapse" id="serviceterms">
                    <div class="card card-body">
                        <p>
                            You may not use our products for any illegal or unauthorized purpose nor may you, in the use
                            of
                            the Service, violate any laws in your jurisdiction (including but not limited to copyright
                            laws).<br>
                            You must not transmit any worms or viruses or any code of a destructive nature.
                            A breach or violation of any of the Terms will result in an immediate termination of your
                            Services.<br><br>

                            SECTION 2 - GENERAL CONDITIONS<br>
                            We reserve the right to refuse service to anyone for any reason at any time.
                            You understand that your content (not including credit card information), may be transferred
                            unencrypted and involve (a) transmissions over various networks; and (b) changes to conform
                            and
                            adapt to technical requirements of connecting networks or devices. Credit card information
                            is
                            always encrypted during transfer over networks.
                            You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the
                            Service,
                            use of the Service, or access to the Service or any contact on the website through which the
                            service is provided, without express written permission by us.<br>
                            The headings used in this agreement are included for convenience only and will not limit or
                            otherwise affect these Terms.<br><br>

                            SECTION 3 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION<br>
                            We are not responsible if information made available on this site is not accurate, complete
                            or
                            current. The material on this site is provided for general information only and should not
                            be
                            relied upon or used as the sole basis for making decisions without consulting primary, more
                            accurate, more complete or more timely sources of information. Any reliance on the material
                            on
                            this site is at your own risk.<br>
                            This site may contain certain historical information. Historical information, necessarily,
                            is
                            not current and is provided for your reference only. We reserve the right to modify the
                            contents
                            of this site at any time, but we have no obligation to update any information on our site.
                            You
                            agree that it is your responsibility to monitor changes to our site.<br><br>

                            SECTION 4 - MODIFICATIONS TO THE SERVICE AND PRICES<br>
                            Prices for our products are subject to change without notice.<br>
                            We reserve the right at any time to modify or discontinue the Service (or any part or
                            content
                            thereof) without notice at any time.
                            We shall not be liable to you or to any third-party for any modification, price change,
                            suspension or discontinuance of the Service.<br><br>

                            SECTION 5 - PRODUCTS OR SERVICES (if applicable)
                            Certain products or services may be available exclusively online through the website. These
                            products or services may have limited quantities and are subject to return or exchange only
                            according to our Return Policy.<br><br>
                            We have made every effort to display as accurately as possible the colors and images of our
                            products that appear at the store. We cannot guarantee that your computer monitor's display
                            of
                            any color will be accurate.<br>
                            We reserve the right, but are not obligated, to limit the sales of our products or Services
                            to
                            any person, geographic region or jurisdiction. We may exercise this right on a case-by-case
                            basis. We reserve the right to limit the quantities of any products or services that we
                            offer.<br>
                            All descriptions of products or product pricing are subject to change at anytime without
                            notice,
                            at the sole discretion of us. We reserve the right to discontinue any product at any time.
                            Any
                            offer for any product or service made on this site is void where prohibited.<br>
                            We do not warrant that the quality of any products, services, information, or other material
                            purchased or obtained by you will meet your expectations, or that any errors in the Service
                            will
                            be corrected.<br><br>

                            SECTION 6 - ACCURACY OF BILLING AND ACCOUNT INFORMATION<br>
                            We reserve the right to refuse any order you place with us. We may, in our sole discretion,
                            limit or cancel quantities purchased per person, per household or per order. These
                            restrictions
                            may include orders placed by or under the same customer account, the same credit card,
                            and/or
                            orders that use the same billing and/or shipping address. In the event that we make a change
                            to
                            or cancel an order, we may attempt to notify you by contacting the e‑mail and/or billing
                            address/phone number provided at the time the order was made. We reserve the right to limit
                            or
                            prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or
                            distributors.<br><br>

                            You agree to provide current, complete and accurate purchase and account information for all
                            purchases made at our store. You agree to promptly update your account and other
                            information,
                            including your email address and credit card numbers and expiration dates, so that we can
                            complete your transactions and contact you as needed.<br><br>

                            For more detail, please review our Returns Policy.<br><br>

                            SECTION 7 - OPTIONAL TOOLS<br>
                            We may provide you with access to third-party tools over which we neither monitor nor have
                            any
                            control nor input.<br>
                            You acknowledge and agree that we provide access to such tools ”as is” and “as available”
                            without any warranties, representations or conditions of any kind and without any
                            endorsement.
                            We shall have no liability whatsoever arising from or relating to your use of optional
                            third-party tools.<br><br>
                            Any use by you of optional tools offered through the site is entirely at your own risk and
                            discretion and you should ensure that you are familiar with and approve of the terms on
                            which
                            tools are provided by the relevant third-party provider(s).<br><br>
                            We may also, in the future, offer new services and/or features through the website
                            (including,
                            the release of new tools and resources). Such new features and/or services shall also be
                            subject
                            to these Terms of Service.<br><br></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Parallax Image (https://www.w3schools.com/howto/howto_css_parallax.asp)-->
<div class="img-scroll"></div>
{% endblock %}