/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.order-history {
    /* height of profile form and submit button */
    max-height: 416px;
    overflow-y: auto;
}


.profile-form-input::-webkit-input-placeholder {
    color: #aab7c4;
  }


.profile-form-input::-moz-placeholder {
    color: #aab7c4;
  }


.profile-form-input:-ms-input-placeholder {
    color: #aab7c4;
  }


.profile-form-input::-ms-input-placeholder {
    color: #aab7c4;
  }


.profile-form-input::placeholder {
    color: #aab7c4;
  }

  #profile-update-form .form-control {
    color: #004040;
}

/* make the country option field dark green by default  */
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #004040;
}

/* make the first option element the color of the placeholder  */
#id_default_country option:first-child {
    color: #aab7c4;
}