<div class="collapse navbar-collapse site-brand-text" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <!-- Logo  -->
    <li class="nav-item d-block d-lg-none">
      <a href="" class="nav-link">
        <h2 class="logo-style my-0">
          <span id="eco-style">Eco</span><span id="camping-style">Camping</span>
        </h2>
      </a>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="shop-all-link" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Shop All
      </a>
      <!-- Filter By -->
      <div class="dropdown-menu border-0 dropdown-menu-lg-right" aria-labelledby="shop-all-link">
        <a class="dropdown-item text-dark" href="#">By Price</a>
        <a class="dropdown-item text-dark" href="#">By Rating</a>
        <a class="dropdown-item text-dark" href="#">By Category</a>
        <a class="dropdown-item text-dark" href="#">All Products</a>
      </div>
    </li>
    <!-- Shop - Categories -->
    <li class="list-inline-item nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="camping-gear-link" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Camping Gear
      </a>
      <div class="dropdown-menu dropdown-menu-lg-right border-0" aria-labelledby="camping-gear-link">
        <a class="dropdown-item text-dark" href="#">Tents</a>
        <a class="dropdown-item text-dark" href="#">Sleeping Bags</a>
        <a class="dropdown-item text-dark" href="#">Lightning &amp; Electronics</a>
        <a class="dropdown-item text-dark" href="#">Camp Kitchen Gear</a>
        <a class="dropdown-item text-dark" href="#">Camping Clothing</a>
      </div>
    </li>
    <li class="list-inline-item nav-item dropdown">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="gift-ideas-link" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Gift Ideas
      </a>
      <div class="dropdown-menu dropdown-menu-lg-right border-0" aria-labelledby="gift-ideas-link">
        <a class="dropdown-item text-dark" href="#">Giftable Gear</a>
        <a class="dropdown-item text-dark" href="#">Dog Toys &amp; Gear</a>
      </div>
    </li>
    <!-- Search  -->
    <li class="list-inline-item d-block d-md-none">
      <form method="GET" action="">
        <div class="input-group w-100">
          <div class="text-center">
            <input type="text" name="q" class="form-control" placeholder="Search our site" />
          </div>
          <div class="input-group-append">
            <button type="submit" class="btn btn-style form-control rounded-0">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>
