{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container mb-2">
        <div class="row text-center">
            <div class="col mt-4">
                <h2 class="text-uppercase text-dark"> {% trans "Change Password" %} </h2>
                <hr class="hr-style-main w-50 mb-2">
            </div>
        </div>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-light-screen rounded-0" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
