{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container mb-2">
        <div class="row text-center">
            <div class="col mt-4">
                <h2 class="text-uppercase text-dark"> {% trans "Password Reset" %} </h2>
                <hr class="hr-style-main w-50 mb-2">
            </div>
        </div>
    </div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="text-dark">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
