{% extends "base.html" %}
{% load static %}

{% block title %}
    500 Error Page
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row no-gutters">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 min-height">
    <div class="row">
        <div class="col-12">
            <h2 class="text-uppercase text-center mt-5"> 500 - Internal server error  </h2>
            <hr class="hr-style-main w-50 mb-1">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 text-center">
            <p class="text-dark">Something went wrong. Please go back to the homepage.</p>
            <a href="{% url 'home' %}" class="btn btn-style rounded-0 text-uppercase mt-3 px-3" role="button"><i class="fas fa-chevron-left pe-2"></i>Home</a>
        </div>
    </div>
</div>
    
{% endblock %}
