{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="EcoCamping online store selling environmentally friendly camping gear. ">
    {% endblock %}
    
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Lato:wght@700&family=Montserrat:wght@400;500;600&family=Palanquin+Dark&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/48c5969d7a.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>Eco Camping {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div class="row d-none d-lg-flex">
        <div class="col my-auto py-1 text-center text-lg-left main-logo">
          <a href="{% url 'home' %}" class="">
            <h2 class="logo-style my-0"> 
              <span id="eco-style">Eco</span><span id="camping-style">Camping</span> 
            </h2>
          </a>
        </div>
        
        <div class="col my-auto text-center py-1">Heading-links</div>

        <div class="col my-auto py-1">
            <ul class="list-inline list-unstyled align-right my-0">

              <!-- from stackoverflow - sliding search bar. Credited in README -->
              <form method="GET" action="">
              <div id="searchbar" class="collapsed input-group">
                <div id="search-box input-group-append">
                  <div id="sliding-panel-outer">       
                   <div id="sliding-panel-inner">
                   <input class="form-control" type="text" name="q" placeholder="Search our site" id="search-input" />
                   <button id="search-submit" class="form-control">Search</button>
                   </div><!--#sliding-panel-inner-->
                  </div><!--#sliding-panel-outer-->      
                   <div class="search-label">
                     <i class="fa fa-search"></i>
                     <i class="fa fa-times"></i>
                   </div>
                </div><!--#search-box-->
             </div><!--#searchbar-->
            </form>
              <!--  /from stack overflow -->


              <li class="list-inline-item dropdown">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                  </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                      <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Account</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
              </div>
              </li>
              
              <li class="list-inline-item">
                <a class="{% if grand_total %}font-weight-bold{% else %}{% endif %} nav-link" href="">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                      <p class="my-0">
                          {% if grand_total %}
                              ${{ grand_total|floatformat:2 }}
                          {% else %}
                              $0.00
                          {% endif %}
                      </p>
                  </div>
              </a>
              </li>
            </ul>

      
        </div>
      </div>
    </header>
    
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    <script src="static/js/script.js"></script>   
  </body>
</html>