{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container checkout-container">
        <div class="row text-center">
            <div class="col-12 col-md-6 mt-4 text-center">
                <h2 class="text-uppercase"> Product Management </h2>
                <hr class="hr-style-main w-50 mb-1">
                <h5 class="Text-muted"> Add a Product </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-3 input" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-allauth rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-light-screen rounded-0 text-uppercase" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

